<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Team Orion</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="/"><h1 class="site-title">Team Orion</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="galaxies">Galaxies</a></li>
          <li class="navitem navlink"><a href="hostSystems">Host Systems</a></li>
          <li class="navitem navlink"><a href="stars">Stars</a></li>
          <li class="navitem navlink active"><a href="exoplanets">Exo Planets</a></li>
          <li class="navitem navlink"><a href="EPSRelation">Exo Planet Star Relationship</a></li>
        </ul>
      </nav>
    </header>

    <main class="home-body">
      {{!-- The Data from our Database --}}

      {{!-- Create a table --}}
      <table id="exoplanets-table">

          {{!-- Header section --}}
          <thead>

              {{!-- For just the first row, we print each key of the row object as a header cell so we
              know what each column means when the page renders --}}
              <tr>
                <th>Planet ID </th>
                <th>Host System Name</th>
                <th>Planet Name</th>
                <th>Number of Stars</th>
                <th>Mass</th>
                <th>Orbital Period</th>
                <th>Discovery Date</th>
              </tr>
          </thead>

          {{!-- Body section --}}
          <tbody>

              {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
              {{#each data}}

              <tr>
                  <td>{{this.planetID}}</td>
                  <td>{{this.hostSystemName}}</td>
                  <td>{{this.exoplanetName}}</td>
                  <td>{{#if this.numberOfStars}}{{this.numberOfStars}}{{else}}Null{{/if}}</td>
                  <td>{{#if this.mass}}{{this.mass}}{{else}}Null{{/if}}</td>
                  <td>{{#if this.orbitalPeriod}}{{this.orbitalPeriod}}{{else}}Null{{/if}}</td>
                  <td>{{#if this.discovery}}{{this.discovery}}{{else}}Null{{/if}}</td>
                </tr>
              {{/each}}
          </tbody>
      </table>
        </div>
        <div class="container-for-forms">
          <form id="add-exoplanet-form" method="POST" action="/add-exoplanet-form">
            <div class = "add-value exoplanet-add">
              <ul class = "add-value-list">
                <li>
                  <p> Add Entry to Table</p>
                </li>
                <li class="move-over-li">
                  <div class="input-element">
                    <label for="input-exoplanetName" class="word-search-label"></label>
                    <input type="text" name ="input-exoplanetName" id="input-exoplanetName" placeholder="Planet Name..." class ="planetName" required>
                  </div>
                </li>
                <li>
                  <div class="input-element">
                    <label for="input-hostSystemID">Select a Host System</label>
                    <select type="select" name ="input-hostSystemID" id="input-hostSystemID" class = "starHSFK input-search-label" required>
                      {{#each hostSystems}}
                      <option value="{{this.hostSystemID}}">{{this.hostSystemName}}
                      </option>
                      {{/each}}
                    </select>
                  </div>
                </li>
                <li>
                  <div class="input-element">
                    <label for="input-numberOfStars"></label>
                    <input type="text" name ="input-numberOfStars" id="input-numberOfStars" placeholder="Number of Stars..." class ="numStars" required>
                  </div>
                </li>
                <li>
                  <div class="input-element">
                    <label for="input-mass"></label>
                    <input type="text" name ="input-mass" id="input-mass" placeholder="Mass..." class ="mass">
                  </div>
                </li>
                <li>
                  <div class="input-element">
                    <label for="input-orbitalPeriod"></label>
                    <input type="text" name ="input-orbitalPeriod" id="input-orbitalPeriod" placeholder="Orbital Period..." class ="orbitalPeriod">
                  </div>
                </li>
                <li>
                  <div class="input-element">
                    <label for="input-discovery"></label>
                    <input type="text" name="input-discovery" id="input-discovery" placeholder="Discovery Date..." class ="discovery">
                  </div>
                </li>
                <li>
                  <div class="input-element">
                    <input type="submit" class="submit-button">
                    <!-- <button type="button" id="create-item-button" class = "exo-button" onclick="addRowPlanet();"><i class="fas fa-plus"></i> <i class="fa fa-table" aria-hidden="true"></i></button> -->
                  </div>
                </li>
              </ul>
            </div>
          </form>

          {{!-- Form to search by host System name --}}
          <div class="search-function-box">
            <form id="search-hostSystem-html" method='POST' action='/exoplanet-search'>
                <label for="input-hostSystemName" class="word-search-label">Filter by Host System: </label><br>
                <select type="select" name="input-hostSystem" id="input-hostSystem" class="input-search-label">
                  {{#each hostSystems}}
                  <option value="{{this.hostSystemName}}">{{this.hostSystemName}}
                  </option>
                  {{/each}}
                </select>

                <input type="submit" class="submit-button">
            </form>

              <form id='reset-page' method='GET' action='/exoplanets'>
                <button type="submit" name="button" class="reset-button">Reset</button>
            </div>
        </div>
        <div class="explanation-for-sol-planets">
            <p>Note: that planets from our solar system were added.
            We are aware that these are not technically exoplanets
            But they were included to have some nicely named planets
            for visualization in the Exoplanet Star Relationship table.
            </p>
            <button type="button" name="button" class="hide-button" onclick="hide(this)">Hide</button>
          </div>

    </main>
