<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Team Orion</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="/"><h1 class="site-title">Team Orion</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="galaxies">Galaxies</a></li>
          <li class="navitem navlink active"><a href="hostSystems">Host Systems</a></li>
          <li class="navitem navlink"><a href="stars">Stars</a></li>
          <li class="navitem navlink"><a href="exoplanets">Exo Planets</a></li>
          <li class="navitem navlink"><a href="EPSRelation">Exo Planet Star Relationship</a></li>
        </ul>
      </nav>
    </header>

    <main class="home-body">
      {{!-- The Data from our Database --}}

      {{!-- Create a table --}}
      <table id="galaxies-table">

          {{!-- Header section --}}
          <thead>
              <tr>
                <th>Host System ID </th>
                <th>Host System Name</th>
                <th>Galaxy Name</th>
              </tr>
          </thead>

          {{!-- Body section --}}
          <tbody>

              {{!-- For each row, print the hostSystemID, name, galaxyName in order --}}
              {{#each data}}

              <tr>
                  <td>{{this.hostSystemID}}</td>
                  <td>{{#if this.hostSystemName}}{{this.hostSystemName}}{{else}}Null{{/if}}</td>
                  <td>{{#if this.galaxyName}}{{this.galaxyName}}{{else}}Null{{/if}}</td>
              </tr>
              {{/each}}
          </tbody>
      </table>

      {{!-- Form to add a record to the table using standard HTML forms --}}
      <div class="container-for-forms">
        <form id="add-hostSystem-form" method="POST" action="/add-hostSystem-form">
            <div class = "add-value">
                <ul class = "add-value-list">
                    <li>
                      <p> Add Entry to Table</p>
                    </li>
                    <li class="move-over-li">
                      <div class="input-element">
                        <label for="input-hostSystem" class="word-search-label"></label>
                        <input type="text" name="input-hostSystem" id="input-hostSystem" placeholder="Host System Name..." required>
                      </div>
                    </li>
                    <li class="for-inline-input">
                      <div class="input-element">
                        <label for="input-galaxy">Galaxy:</label>
                        <select type="select" name="input-galaxy" id="input-galaxy" class="input-search-label" required>
                          {{#each galaxies}}
                          <option value = "{{this.galaxyID}}">{{this.galaxyName}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </li>

                    <li class="for-inline-input">
                      <div class="input-element">
                        <input type="submit" class="submit-button">
                      </div>
                    </li>
                  </ul>
              </div>
          </form>

        </form>

        {{!-- Form to search by galaxy name --}}
        <div class="search-function-box">
          <form id="search-galaxy-html" method='POST' action='/hostSystems-search'>
              <label for="input-galaxyName" class="word-search-label">Filter by Galaxy Name: </label><br>
              <select type="select" name="input-galaxy" id="input-galaxy" class="input-search-label">
                {{#each galaxies}}
                <option value = "{{this.galaxyName}}">{{this.galaxyName}}</option>
                {{/each}}
              </select>

              <input type="submit" class="submit-button">
          </form>

          <form id='reset-page' method='GET' action='/hostSystems'>
            <button type="submit" name="button" class="reset-button">Reset</button>
        </div>
      </div>

    </main>
