<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Team Orion</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="/"><h1 class="site-title">Team Orion</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="galaxies">Galaxies</a></li>
          <li class="navitem navlink"><a href="hostSystems">Host Systems</a></li>
          <li class="navitem navlink active"><a href="stars">Stars</a></li>
          <li class="navitem navlink"><a href="exoplanets">Exo Planets</a></li>
          <li class="navitem navlink"><a href="EPSRelation">Exo Planet Star Relationship</a></li>
        </ul>
      </nav>
    </header>

    <main class="home-body">
      {{!-- The Data from our Database --}}

      {{!-- Create a table --}}
      <table id="stars-table">

          {{!-- Header section --}}
          <thead>

              {{!-- For just the first row, we print each key of the row object as a header cell so we
              know what each column means when the page renders --}}
              <tr>
                <th>Star ID </th>
                <th>Star Name</th>
                <th>Type</th>
                <th>Temperature</th>
                <th>Host System Name</th>
              </tr>
          </thead>

          {{!-- Body section --}}
          <tbody>

              {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
              {{#each data}}

                <tr>
                  <td>{{this.starID}}</td>
                  <td>{{this.starName}}</td>
                  <td>{{#if this.type}}{{this.type}}{{else}}Null{{/if}}</td>
                  <td>{{#if this.temperature}}{{this.temperature}}{{else}}Null{{/if}}</td>
                  <td>{{this.hostSystemName}}</td>
                </tr>
              {{/each}}
          </tbody>


      </table>

      <div class="container-for-forms">
        <form class="add-star-form" action="/add-star-form" method="POST">
          <div class = "add-value">
            <ul class = "add-value-list">
              <li>
                <p> Add Entry to Table</p>
              </li>
              <li>
                <div class="input-element">
                  <label for="input-starName"></label>
                  <input type="text" name ="input-starName" id="input-starName" placeholder="Star Name..." class = "starName" required>
                </div>
              </li>
              <li>
                <div class="input-element">
                  <label for="input-starType"></label>
                  <input type="text" name ="input-starType" id="input-starType" placeholder="Star type..." class = "starType">
                </div>
              </li>
              <li>
                <div class="input-element">
                  <label for="input-starTemp"></label>
                  <input type="text" name ="input-starTemp" id="input-starTemp" placeholder="Star temperature..." class = "starTemp">
                </div>
              </li>
              <li class="for-inline-input">
                <div class="input-element">
                  <label for="input-hostSystemID">Select a Host System</label><br>
                  <select type="select" name ="input-hostSystemID" id="input-hostSystemID" class = "starHSFK input-search-label" required>
                    {{#each hostSystems}}
                    <option value="{{this.hostSystemID}}">{{this.hostSystemName}}
                    </option>
                    {{/each}}
                  </select>
                </div>
              </li>
              <li class="for-inline-input">
                <div class="input-element">
                  <input type="submit" class="submit-button">
                </div>
              </li>
            </ul>
          </div>
        </form>

        {{!-- Form to search by host System name --}}
        <div class="search-function-box">
            <form id="search-hostSystem-html" method="POST" action="/stars-search">
                <label for="input-hostSystemName" class="word-search-label">Filter by Host System: </label><br>
                <select type="select" name="input-hostSystem" id="input-hostSystem" class="input-search-label">
                  {{#each hostSystems}}
                  <option value="{{this.hostSystemName}}">{{this.hostSystemName}}
                  </option>
                  {{/each}}
                </select>

                <input type="submit" class="submit-button">
              </form>

              <form id='reset-page' method='GET' action='/stars'>
              <button type="submit" name="button" class="reset-button">Reset</button>
            </form>
          </div>


        {{!--Delete the class is reused from search for styling--}}
          <div class="search-function-box">
                <form id="delete-star-html" action="/stars-delete" method="POST">
                    <label for="input-star" class="word-search-label">Delete Star: </label><br>
                    <select type="select" name="input-star" id="input-star" class="input-search-label">
                      {{#each data}}
                      <option value="{{this.starName}}">{{this.starName}}
                      </option>
                      {{/each}}
                    </select>

                    <button type="submit" name="button" class="reset-button">Delete</button>
                  </form>
          </div>

            {{!--Edit reuses search styling--}}
            <div class="search-function-box">
              <form id="edit-star-html" method='POST' action='/stars-edit'>
                <ul class = "add-value-list">
                  <li>
                    <label for="input-star" class="word-search-label">Edit Star: </label><br>
                  </li>
                  <li class="for-inline-input">
                    <select type="select" name="input-star" id="input-star" class="input-search-label" required>
                      {{#each data}}
                      <option value="{{this.starName}}">{{this.starName}}
                      </option>
                      {{/each}}
                    </select>
                  </li>
                  <li>
                    <div class="input-element">
                      <label for="input-starNameNew"></label>
                      <input type="text" name ="input-starNameNew" id="input-starNameNew" placeholder="Update Name..." class = "starType" required>
                    </div>
                  </li>
                  <li>
                    <div class="input-element">
                      <label for="input-starType"></label>
                      <input type="text" name ="input-starType" id="input-starType" placeholder="Update type..." class = "starType" required>
                    </div>
                  </li>
                  <li>
                    <div class="input-element">
                      <label for="input-starTemp"></label>
                      <input type="text" name ="input-starTemp" id="input-starTemp" placeholder="Update temperature..." class = "starTemp" required>
                    </div>
                  </li>
                  <li class="for-inline-input">
                    <div class="input-element">
                      <label for="input-hostSystemID">Update Host System:</label><br>
                      <select type="select" name ="input-hostSystemID" id="input-hostSystemID" class = "starHSFK input-search-label">
                        {{#each hostSystems}}
                        <option value="{{this.hostSystemID}}">{{this.hostSystemName}}
                        </option>
                        {{/each}}
                      </select>
                    </div>
                  </li>
                  <li class="for-inline-input">
                    <div class="input-element">
                      <button type="submit" id="edit-item-button">Edit</button>
                    </div>
                  </li>

                </ul>
              </form>
            </div>
    </main>
